{% extends 'home.html' %}
{% block title %}Real Time Hand Detection 2{% endblock %}
{% block content %}

<div class="container">
    <h3>Real Time Hand Detection Mode 2</h3>
</div>

 <br/> 

<div class="text-center">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
    <div align="center">
        <img src="{{ url_for('recognizeMode1') }}"> 
    
</div>

<br>

<div align="center">
    <a class="btn btn-outline-primary" href="{{ url_for('home') }}">Back to Homepage</a>
    <a class="btn btn-outline-primary" href="{{ url_for('handDetection') }}">Change to Mode 1</a>
</div>

<script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
              "div").style.visibility = "visible";
            document.querySelector(
              ".spinner-grow").style.visibility = "visible";
        } else {
            document.querySelector(
              ".spinner-grow").style.display = "none";
            document.querySelector(
              "div").style.visibility = "visible";
        }
    };
</script>

{% endblock %}