{% extends 'home.html' %}
{% block title %}Option Selection {% endblock %}
{% block content %}


<style>
  content{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans;
  }
.col{
  border: 1px solid black;
  height:80px;
  padding-left:20px;
}


a{
  color:black;
  text-decoration: none;
  font-size: 23px;
}

a:hover{
  cursor: pointer;
  opacity:0.9;
  color:rgb(236, 236, 236);
  
}



</style>
<div class="container">
    <h3>Option Selector</h3>
</div>

 <br/> 

<div class="text-center">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
    <div align="center">
        <img src="{{ url_for('recognizeMode2') }}"> 
    
</div>

<div> 
  <h1>Hello, {{name}}</h1>

</div>
<br/>
<div class="container" style="max-width: 90%;">
  <div class="row" >
    <a class="col" style="background: #FF0000;">A</a>
    <a class="col" style="background: #009745;">B</a>
    <div class="w-100"></div>
    <a class="col" style="background: #05269C;">C</a>
    <a class="col" style="background: #9403AC;">D</a>
  </div>
</div>
<br>

<div align="center">
    <a class="btn btn-outline-primary" href="{{ url_for('home') }}">Back to Homepage</a>
    <a class="btn btn-outline-primary" href="{{ url_for('handRecognizeMode1') }}">Change to Mode 1</a>
</div>

<script src="app.js">
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
              "div").style.visibility = "visible";
            document.querySelector(
              ".spinner-grow").style.visibility = "visible";
        } else {
            document.querySelector(
              ".spinner-grow").style.display = "none";
            document.querySelector(
              "div").style.visibility = "visible";
        }
    };
</script>

{% endblock %}